{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/Logo_mobile.png' %}">
    <!-- Page Title  -->
    <title>Login | 3M Admin </title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>

<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
                                    <a href="#" class="logo-link">
                                        <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/Logo_mobile.png' %}" alt="logo"> <span class="text-dark fw-bold">Science <br /> Applied to Life</span>
                                        <!-- <img class="logo-dark logo-img logo-img-lg" src="./images/Logo_mobile.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark"> <span class="text-dark fw-bold">Science <br /> Applied to Life</span> -->
                                    </a>
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title">Sign-In</h3>
                                        {% if messages %}
                                            <div class="mb-10 fv-row" >  
                                                {% for message in messages %}
                                                    <div class="alert alert-dismissible d-flex flex-column flex-sm-row px-5 mb-10">
                                                        <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                                                            <h6 class="mb-2 text-danger light">{{message}}</h6>
                                                        </div>
                                                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                                                            <span class="svg-icon svg-icon-2x svg-icon-light">X</span>
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <!-- <div class="nk-block-des">
                                            <p>Access the DashLite panel using your email and passcode.</p>
                                        </div> -->
                                    </div>
                                </div><!-- .nk-block-head -->
                                <form method="POST" class="form-validate is-alter" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="email-address">Email or Mobile Number</label>                                           
                                        </div>
                                        <div class="form-control-wrap">
                                            <input autocomplete="off" type="text" class="form-control form-control-lg" id="email-address" name="email" maxlength="50" placeholder="Enter your email address or mobile number" value="" required />
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Password</label>
                                            <a class="link create_style link-sm" tabindex="-1" href="{% url 'password_reset' %}">Forgot Password?</a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input autocomplete="new-password" type="password" class="form-control form-control-lg" id="password" placeholder="Enter your password" name="password" maxlength="30" value="" required/>
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block btn_signIn">Sign in</button>
                                    </div>
                                </form><!-- form -->
                                <!-- <div class="new_form_style form-note-s2 pt-4"> New on our platform? <a class="create_style" href="#">Create an account</a>
                                </div> -->                              
                               
                                <!-- <div class="text-center mt-5">
                                    <span class="fw-500 new_form_style">I don't have an account? <a href="#" class="create_style">Try 15 days free</a></span>
                                </div> -->
                            </div>
                            
                        </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
    

</html>