{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/Logo_mobile.png' %}">
    <!-- Page Title  -->
    <title>3M Admin</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>

<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em
                                        class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
                                    <a href="#" class="logo-link">
                                        <img class="logo-dark logo-img logo-img-lg"
                                            src="{% static 'images/Logo_mobile.png' %}" alt="logo"> <span
                                            class="text-dark fw-bold">Science <br /> Applied to Life</span>
                                        <!-- <img class="logo-dark logo-img logo-img-lg" src="./images/Logo_mobile.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark"> <span class="text-dark fw-bold">Science <br /> Applied to Life</span> -->
                                    </a>
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title">Password Change</h3>
                                        {% if form.errors %}
                                            <div class="mb-10 fv-row" >  
                                                {% for key,value in form.errors.items %}
                                                    <div class="alert alert-dismissible d-flex flex-column flex-sm-row px-5 mb-10">
                                                        <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                                                            <h6 class="mb-2 text-danger light">{{value}}</h6>
                                                        </div>
                                                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                                                            <span class="svg-icon svg-icon-2x svg-icon-light">X</span>
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <!-- <div class="nk-block-des">
                                            <p> Please enter your old password, for security’s sake.</p>
                                        </div> -->
                                    </div>
                                </div><!-- .nk-block-head -->
                                <form method="post">
                                    {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="id_new_password1">New Password</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="id_new_password1">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password"
                                                class="form-control form-control-lg" id="id_new_password1"
                                                placeholder="Enter your password" name="new_password1" maxlength="30" value=""
                                                required  />
                                            <span>
                                                <ul>
                                                    <li>Your password can’t be too similar to your other personal
                                                        information.</li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can’t be a commonly used password.</li>
                                                    <li>Your password can’t be entirely numeric.</li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label mt-2" for="id_new_password2">Confirm Password</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#"
                                                class="form-icon form-icon-right passcode-switch lg"
                                                data-target="id_new_password2">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password"
                                                class="form-control form-control-lg" id="id_new_password2"
                                                placeholder="Enter your password" name="new_password2" maxlength="30" value=""
                                                required />
                                            <span> Enter the same password as before, for verification.</span>
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block btn_signIn" >Submit</button>
                                    </div>
                                </form><!-- form -->

                            </div>

                        </div><!-- .nk-split -->
                    </div>
                    <!-- wrap @e -->
                </div>
                <!-- content @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- JavaScript -->
        <script src="{% static 'assets/js/bundle.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
              
</body>


</html>